{{> header}}


<header class="header--desktop">
	<div class="container">
		<div class="the-header">
			<div class="row justify-content-between d-flex h-100">
				<div class="col d-flex align-items-center h-100">
					<div class="logo">css box-shadow generator</div>
				</div>
				<div class="col h-100">
					<nav class="no--list d-flex justify-content-end align-items-center h-100">
						<ul class="nav-main">
							<li><a href="">generator</a></li>
							<li><a href="">presets</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>

<main class="box-shadow-settings">
	<div class="container">
		<div class="row">
			<div class="col-6">
				<div class="setting">
					<span>horizontal offset</span>
					<div class="input-group input-group--number">
						<input type="number" class="form-control" value="0">
						<div class="custom">
							<div class="suffix">px</div>
							<div class="arrows"><i class="fas fa-chevron-up add"></i><i class="fas fa-chevron-down sub"></i></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>



{{> footer}}