{{> header}}


<header class="header-desktop">
	<div class="container container--big">
		<div class="the-header">
			<div class="row justify-content-between d-flex h-100">
				<div class="col d-flex align-items-center h-100">
					<div class="logo">css box-shadow generator</div>
				</div>
				<div class="col h-100">
					<nav class="no-list d-flex justify-content-end align-items-center h-100">
						<ul class="nav-main">
							<li><a href="">generator</a></li>
							<li><a href="">presets</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>

<section id="vue-app" class="box-shadow-settings">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="title">generate box-shadow</div>
			</div>
		</div>
		<div class="row justify-content-between">
			<div class="col-12 col-md-6 order-2 order-md-1">

				<div class="setting">
					<span>horizontal offset</span>
					<div class="input-group input-group--arrow">
						<input v-model="horizontalOffset" type="number" class="form-control" placeholder="0">
						<div class="custom">
							<div class="suffix">px</div>
							<div class="arrows">
								<div class="add" v-on:click="increaseValue('horizontalOffset')">
									<i class="fas fa-chevron-up add"></i>
								</div>
								<div class="minus" v-on:click="decreaseValue('horizontalOffset')">
									<i class="fas fa-chevron-down sub"></i>
								</div>
							</div>
						</div>
					</div>
					<b-form-input v-model="horizontalOffset" type="range" min="0" max="100" class="mt-3 mb-4"></b-form-input>
				</div>

				<div class="setting">
					<span>vertical offset</span>
					<div class="input-group input-group--arrow">
						<input v-model="verticalOffset" type="number" class="form-control" placeholder="0">
						<div class="custom">
							<div class="suffix">px</div>
							<div class="arrows">
								<div class="add" v-on:click="increaseValue('verticalOffset')">
									<i class="fas fa-chevron-up add"></i>
								</div>
								<div class="minus" v-on:click="decreaseValue('verticalOffset')">
									<i class="fas fa-chevron-down sub"></i>
								</div>
							</div>
						</div>
					</div>
					<b-form-input v-model="verticalOffset" type="range" min="0" max="100" class="mt-3 mb-1"></b-form-input>
				</div>
				
				<hr>

				<div class="setting">
					<span>blur radius</span>
					<div class="input-group input-group--arrow">
						<input v-model="blurRadius" type="number" class="form-control" placeholder="0">
						<div class="custom">
							<div class="suffix">px</div>
							<div class="arrows">
								<div class="add" v-on:click="increaseValue('blurRadius')">
									<i class="fas fa-chevron-up add"></i>
								</div>
								<div class="minus" v-on:click="decreaseValue('blurRadius')">
									<i class="fas fa-chevron-down sub"></i>
								</div>
							</div>
						</div>
					</div>
					<b-form-input v-model="blurRadius" type="range" min="0" max="100" class="mt-3 mb-1"></b-form-input>
				</div>

				<div class="setting">
					<span>vertical offset</span>
					<div class="input-group input-group--arrow">
						<input v-model="blurSpread" type="number" class="form-control" placeholder="0">
						<div class="custom">
							<div class="suffix">px</div>
							<div class="arrows">
								<div class="add" v-on:click="increaseValue('blurSpread')">
									<i class="fas fa-chevron-up add"></i>
								</div>
								<div class="minus" v-on:click="decreaseValue('blurSpread')">
									<i class="fas fa-chevron-down sub"></i>
								</div>
							</div>
						</div>
					</div>
					<b-form-input v-model="blurSpread" type="range" min="0" max="100" class="mt-3 mb-1"></b-form-input>
				</div>
				
				<hr>

				<div class="setting">
					<span>shadow color</span>
					<div class="input-group">
						<input type="text" class="form-control" v-model="colors.hex">
					</div>
					<div class="color-picker">
						<div class="transparent"></div>
						<div class="color" v-on:click="showColorPicker()" v-bind:style="{ backgroundColor: colors.hex }"></div>
					</div>

					<chrome-picker v-model="colors" />

				</div>

				<div class="setting">
					<span>shadow opacity</span>
					<div class="input-group input-group--arrow">
						<input v-model="opacity" type="number" class="form-control" placeholder="0">
						<div class="custom">
							<div class="suffix">%</div>
							<div class="arrows">
								<div class="add" v-on:click="increaseValue('opacity')">
									<i class="fas fa-chevron-up add"></i>
								</div>
								<div class="minus" v-on:click="decreaseValue('opacity')">
									<i class="fas fa-chevron-down sub"></i>
								</div>
							</div>
						</div>
					</div>
					<b-form-input v-model="opacity" type="range" min="0" max="1" step="0.01" class="mt-3 mb-1"></b-form-input>
				</div>

				<hr>

				<div class="setting">
					<span>shadow inset</span>
					<label class="switch">
						<input type="checkbox" v-model="inset">
						<span class="slider"></span>
					</label>

				</div>
			</div>

			<div class="col-12 col-md-5 order-1 order-md-2">
				<div class="btn btn-primary" v-on:click="show()">generate</div>
				<div class="final-preview"></div>
			</div>

		</div>
	</div>
</section>


{{> footer}}