.box-shadow-settings{
  
    .input-group{
      
    }
  
  .setting{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
    min-height: 65px;

    span{
      flex-grow: 1;
    }

    .color{
      align-self: stretch;
      width: 45px;
      background-color: black;
      border-radius: $border-radius-1;
      margin-left: 20px;
      cursor: pointer;
    }

    .input-group{
      width: auto;
    }

    .form-control{
      margin-left: 20px;
      width: 133px;
    }
  }
}