.no-list{
  *{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.c-p{
  cursor: pointer;
}

.box-shadow{
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.05);

  transition: $transition-base, padding 1ms;

  &:focus,
  &:hover,
  &:active{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
  }
}