.input-group--number {
  position: relative;
  height: 45px;
  background-color: white;
  border-radius: $border-radius-1;


  .form-control {
    height: 100%;
    text-align: right;
    text-transform: lowercase;
    border-radius: inherit !important;
    font-weight: inherit;
    background-color: transparent;
    padding-right: 0;

    padding-right: 90px;

    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  
  .custom{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: inherit;
    border-radius: 0 $border-radius-1 $border-radius-1 0;

    text-transform: lowercase;

    overflow: hidden;
    pointer-events: none;
    user-select: none;
    z-index: 5;


    .suffix{
      padding-right: 20px;
      padding-left: 3px;
    }

    .arrows{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 100%;
      pointer-events: auto;
      

      svg{
        flex-grow: 1;
        width: 100%;
        padding: 3px 0;
        background-color: $gray-2;
        cursor: pointer;

        // transition: $transition-base;

        &:hover{
          background-color: $gray-3;
        }
      }
    }
  }
}