.form-control{;
  font-weight: inherit;

  @extend .box-shadow;
}





// remove default arrows
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



// custom arrows
.input-group--arrow {
  position: relative;
  border-radius: $border-radius-1;


  .form-control {
    background-color: white;

    text-transform: lowercase;
    text-align: right;

    padding-right: 0;

    border-radius: inherit !important;

    -moz-appearance: textfield;

    &::placeholder{
      color: inherit;
    }
  }
  
  .custom{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: inherit;
    border-radius: 0 $border-radius-1 $border-radius-1 0;

    text-transform: lowercase;

    overflow: hidden;
    pointer-events: none;
    user-select: none;
    z-index: 5;


    .suffix{
      padding-left: 3px;
    }

    .arrows{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 45px;
      height: 100%;
      margin-left: 20px;

      pointer-events: auto;
      

      > div{
        @extend .center;

        width: 100%;
        padding: 5px 0;
        background-color: $gray-2;
        cursor: pointer;
        

        &:hover{
          background-color: $gray-3;
        }

        &:active{
          background-color: darken($gray-3, 5);
        }
      }
    }
  }
}

$slider-height: 30px;
$slider-width: 52px;
$slider-padding: 4px;

// custom switch
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: relative;
  display: block;
  width: $slider-width;
  height: $slider-height;
  margin: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #ccc;
  border-radius: 99rem;

  transition: $transition-base;
  cursor: pointer;

  &:before {
    content: "";
  
    position: absolute;
    bottom: $slider-padding;
    left: $slider-padding;
  
    height: $slider-height - 2 * $slider-padding;
    width: $slider-height - 2 * $slider-padding;
  
    background-color: white;
    border-radius: 99rem;
  
    transition: $transition-base;
  }
}


input:checked + .slider{
  background-color: $black-1;

  &:before {
    transform: translateX($slider-width - $slider-height);
  }
}


