body {
  .vc-chrome {
    width: 100%;
    border-radius: $border-radius-1;
    font: inherit !important;

    input{
      @extend .form-control;
    }
  }
  .vc-chrome-saturation-wrap{
    border-radius: $border-radius-1 $border-radius-1 0 0;
  }
  .vc-chrome-body{
    background-color: transparent;
  }
  .vc-chrome-hue-wrap .vc-hue,
  .vc-chrome-alpha-wrap .vc-alpha-gradient {
    border-radius: $border-radius-1;
  }
  .vc-chrome-hue-wrap,
  .vc-chrome-alpha-wrap {
    height: 30px;
    
    .vc-hue-picker,
    .vc-alpha-picker {
      height: 32px;
    }
  }
}